<div id="<%= dom_id(Thing, :new_form) %>" style="display: flex; justify-content: space-between; max-width: 500px; border: thin grey solid; padding: 10px">
  <div data-turbo-permanent>
    <%= render "form", thing: thing %>
  </div>
</div>
