<p style="color: green"><%= notice %></p>

<% content_for :title, "Things" %>

<h1>Things</h1>

<div id="things">
  <% @things.each do |thing| %>
    <%= render thing %>
  <% end %>
</div>

<div style="display: flex; justify-content: space-between; max-width: 500px; border: thin grey solid; padding: 10px">
  <%= render "form", thing: Thing.new %>
</div>
