<%= turbo_stream_from "things"%>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Things" %>

<h1>Things</h1>

<div id="things">
  <% @things.each do |thing| %>
    <%= render thing %>
  <% end %>
</div>

<%= render "new_form" %>
